.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title{
  color: #FFEA00; 
  margin-left: 20px;
}

.connect{
  margin-right: 20px;
}

button {
  background-color: white; 
  border: 1px solid black; 
  color: black; 
  margin-left: 10px;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px ;
  cursor: pointer;
}

button:hover {
  background-color: #FFEA00;
  color: black; 
}

.box{
  border-radius: 10px ;
  border: 3px solid #FFEA00;;
  background-color: white;
  max-width: 500px;
  width: 80vw;
  margin-top: 10px;
  padding: 5px 20px;
}

.info{

}

.enter{

}

.pick{

}

.status{
margin-bottom: 30px;
}

.contract-button{
  background-color: #FFEA00;
  border: 1px solid black; 
  color: black; 
  margin-left: 10px;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px ;
  cursor: pointer;
}

.contract-button:hover {
  box-shadow: 0 0.5em 0.5em -0.4em black;
  transform: translateY(-0.25em);
}

